@charset "utf-8";

/* CSS Document */
.TN_BigBoxBG{ width:980px;height:auto; margin:0 auto;}
/*商品悬浮效果***2014-4-23滑出效果**/
#TN_DP1{width:650px; height:410px; position:absolute; z-index:2; left:-650px;background-color:#3CF; }
#TN_DP2{width:320px; height:410px; position:absolute; z-index:4; top:-410px; +margin-left:-320px; background-color:#3CF;}
#TN_DP3{width:650px; height:410px; position:absolute; z-index:6; right:-650px; background-color:#0C6;}
#TN_DP4{width:650px; height:410px; position:absolute; z-index:8; left:-650px; top:0px;background-color:#CCF;}
#TN_DP5{width:320px; height:410px; position:absolute; z-index:7; bottom:-410px; +margin-left:-320px; background-color:#3CF;}
#TN_DP6{ width:650px; height:410px;position:absolute; z-index:10; right:-650px; top:0px; background-color:#FCF;}

/*轮播广告****2014-5-11修改**文字替换图片IE7兼容问题1**/
.switch-contain{width:980px;height:340px; float:left;}
.wrapperIndex{width:980px; height:340px;  float:left;padding-bottom:50px;}
#focus{width:980px;height:340px;overflow:hidden;position:relative; z-index:30;}
#focus ul{height:450px;position:absolute; z-index:40}
#focus ul li{float:left;width:980px;height:340px;overflow:hidden;position:relative;background:#000; z-index:35;}
#focus ul li div{position:absolute;overflow:hidden; z-index:45;}
#focus .btnBg{position:absolute;width:980px;height:35px;left:0;bottom:0; z-index:49; }
#focus .btn{height:5px; margin:15px auto;text-align: center;}/**按钮自动居中JS算出width的值**/
#focus .btn span{ display:inline-block;  width:80px; height:5px; float:left;  background-color:#bbbbbb; margin-right:5px; cursor:pointer;}
#focus .btn .mouseover{ background-color: #ff4001;opacity: 0.8; filter: alpha(opacity=80);}
#focus .btn .mouseout{ background-color: #7b7171; opacity: 0.6; filter: alpha(opacity=60);}


/*.TN_BigBoxBG{ width:100%; float:left; height:auto;}
/*轮播广告****2014-4-16修改按钮自动居中
.TN_bannerBG{ width:100%; height:340px; margin:0 auto;position:relative;}
.TN_bannerBG .TN_banner{ width:980px; height:340px; margin:0 auto; overflow:hidden; position:relative;}
.TN_bannerBG .TN_bannerbut{ width:100%; height:5px; position:absolute;left:0;margin-top:-20px; +left:0px; +margin-top:-20px; z-index:8;}
.TN_bannerBG .TN_bannerbut .Tn_badboy{width:425px; height:5px; text-align:center; margin:0 auto; position:relative;}
.TN_bannerBG .TN_bannerbut .Tn_badboy span.TN_BUT{ width:80px; height:5px; float:left;  background-color:#bbbbbb; margin-right:5px;}
.TN_bannerBG .TN_bannerbut .Tn_badboy #TN_float{ width:80px; height:5px; background-color:#ff4001; position:absolute; margin-left:0; +left:0px; margin-top:0;}
.TN_bannerBG .TN_leftJ{ width:75px; height:122px; position:absolute; margin-left:0; margin-top:170px; z-index:3;}
.TN_bannerBG .TN_rightJ{ width:75px; height:122px; position:absolute; margin-left:905px; margin-top:170px; z-index:4;}
*/
/*商品列表*/
.TN_goods{ width:980px; height:auto; float:left;background-color:#fefaec;}
.TN_goods ul.TN_goodsUL{ width:980px; height:auto; float:left;margin-top:10px;margin-bottom:10px;  position:relative; overflow:hidden;}
/**商品小LOGO，人气，臻品，时令*star*新加样式*2014-5-8*/
.TN_GlogoRP{width:35px; height:58px; padding-top:8px; background-image:url("TN_RPlogo.png")/*tpa=https://rescdn.lapetit.cn/shop/lecake/theme/xth2/images/index/images/TN_RPlogo.png*/; position:absolute; top:1px; left:14px; z-index:99; color:#FFF; text-align:center; line-height:20px; font-size:16px; font-family:'LEXUS 简正线 U';}
.TN_GlogoZP{width:35px; height:58px; padding-top:8px; background-image:url("TN_ZPlogo.png")/*tpa=https://rescdn.lapetit.cn/shop/lecake/theme/xth2/images/index/images/TN_ZPlogo.png*/; position:absolute; top:0px; left:14px; z-index:99; color:#FFF; text-align:center; line-height:20px; font-size:16px; font-family:'LEXUS 简正线 U';}
.TN_GlogoSL{width:35px; height:58px; padding-top:8px; background-image:url("TN_SLlogo.png")/*tpa=https://rescdn.lapetit.cn/shop/lecake/theme/xth2/images/index/images/TN_SLlogo.png*/; position:absolute; top:0px; left:14px; z-index:99; color:#FFF; text-align:center; line-height:20px; font-size:16px; font-family:'LEXUS 简正线 U';}
/**商品小LOGO，人气，臻品，时令*end***新加样式**2014-5-8*/
.TN_goods ul.TN_goodsUL li{ width:320px; height:200px; float:left;margin-right:10px; margin-bottom:10px;}
.TN_goods ul.TN_goodsUL li.TN_MRnone{ margin-right:0px;}
.TN_goods ul.TN_goodsUL li.TN-MTnone{ margin-top:0px;}
.TN_goods ul.TN_goodsUL li.TN-MBnone{ margin-bottom:0px;}
.TN_goods ul.TN_goodsUL li dd.TN_goods_IMG{ width:320px; height:173px; float:left;}
.TN_goods ul.TN_goodsUL li dt.TN_goods_but{width:320px; height:27px; line-height:27px; background-color:#ff4001; font-size:16px; color:#FFF; float:left; text-align:left; font-family:"微软雅黑";}
.TN_goods ul.TN_goodsUL li dt.TN_goods_but span{ width:auto; float:left; height:27px; line-height:27px; margin:0 5px; display:inline;}
.TN_goods ul.TN_goodsUL li dt.TN_goods_but a.TN_subuy{ width:78px; height:27px; font-size:16px; color:#FFF; text-decoration:underline; line-height:27px;  }

/*商品列表左边栏*/
.TN_goods .TN_leftcen{ width:320px; height:460px; float:left;margin-right:10px; margin-bottom:10px;}

/*****************************************样式请保留，备用修改样式，不影响。
.TN_goods .TN_leftcen h1.TN_title{ width:318px; height:50px; float:left; line-height:50px;font-size:20px; text-indent:22px; text-align:left;}
.TN_goods .TN_leftcen p.TN_liTT{ width:318px; height:30px; float:left; line-height:30px; font-size:20px; text-align:center;}
.TN_goods .TN_leftcen ul{ width:318px; height:368px; float:left;  margin-top:10px; }
.TN_goods .TN_leftcen ul li.TN_one{ width:318px; height:110px; float:left;}
.TN_goods .TN_leftcen ul li.TN_one dd{ width:80px; height:80px; margin:15px 10px 15px 33px; float:left; background-color:#CFF; border: solid 1px #999;}
.TN_goods .TN_leftcen ul li.TN_one dt{ width:193px; height:95px; float:left;font-size:15px; margin-top:15px;}
.TN_goods .TN_leftcen ul li.TN_one dt p{ line-height:30px;  text-align:left; }
.TN_goods .TN_leftcen ul li.TN_one dt p.TN_text{ text-indent:25px;}

.TN_goods .TN_leftcen ul li.TN_tow{ width:318px; height:110px; float:left;}
.TN_goods .TN_leftcen ul li.TN_tow dd{ width:173px; height:95px; float:left;font-size:15px; margin-top:15px;}
.TN_goods .TN_leftcen ul li.TN_tow dd p{ line-height:30px;  text-align: right; }
.TN_goods .TN_leftcen ul li.TN_tow dd p.TN_text{ padding-right:15px;}
.TN_goods .TN_leftcen ul li.TN_tow dt{ width:80px; height:80px; margin:15px 0 15px 8px; float:left; background-color:#CFF;border: solid 1px #999;}

.TN_goods .TN_leftcen ul li.TN_three{ width:318px; height:148px; float:left;}
.TN_goods .TN_leftcen ul li.TN_three dd{ width:217px; height:148px; float:left;}
.TN_goods .TN_leftcen ul li.TN_three dd span.TN_leftP{ width:80px; height:80px; margin:10px 5px 0 38px; float:left; background-color:#CFF;border: solid 1px #999;}
.TN_goods .TN_leftcen ul li.TN_three dd span.TN_rightP{ width:80px; height:80px; margin:40px 8px 0 0; float:left; background-color:#CFF;border: solid 1px #999;}
.TN_goods .TN_leftcen ul li.TN_three dt{ width:101px; height:108px; float:left;font-size:15px; margin-top:40px;}
.TN_goods .TN_leftcen ul li.TN_three dt p{ line-height:30px;  text-align: left;}

**********************************************/
/*商品列表右边栏*2014-4-22**/
.TN_goods .TN_rightcen{ width:650px; height:225px; float:left; margin-bottom:10px; position:relative; }
.TN_goods .TN_rightcen a.TN_floatBUT1{ width:133px; height:40px; position:absolute; top:139px; left:68px;+top:139px; +left:68px; z-index:12;}
.TN_goods .TN_rightcen a.TN_floatBUT2{ width:133px; height:40px; position:absolute; top:131px; left:401px;+top:131px; +left:401px; z-index:12;}
/**************************************************样式请保留，备用修改样式，不影响。
.TN_goods .TN_rightcen .TN_floatBUT a.TN_buy{ width:101px; height:33px; float:left; margin-top:8px;}
.TN_goods .TN_rightcen .TN_floatBUT span{ width:126px; height:50px;  float:left; line-height:50px; letter-spacing:1px; text-align:right;}
.TN_goods .TN_rightcen .TN_floatBUT a.TN_zan{ width:34px; height:35px; float:left;}
****************************************************/
/*首页底部商品展示样式**2014-4-22*/

.TN_goods ul.TN_index_goodsUL{ width:320px; height:320px; float:left; margin-right:10px;background-color:#FFF;overflow:hidden; position:relative; border-bottom: 2px solid #ff4001;}
.TN_goods ul.TN_indexULone{ margin-top:0px; border-top:none;}
.TN_goods ul.TN_MrightN{ margin-right:0px;}
.TN_goods ul.TN_index_goodsUL li.TN_IMG{ width:320px; height:220px; float:left; visibility:visible; }
.TN_goods ul.TN_index_goodsUL li.TN_one{ width:320px; height:100px; float:left; color:#958d8d;}
.TN_goods ul.TN_index_goodsUL li.TN_one dd{ width:300px; height:50px; margin:0 10px; float:left; font-family:"微软雅黑";border-bottom: dashed 1px #958d8d;}
.TN_goods ul.TN_index_goodsUL li.TN_one dd .TN_LEFT{ width:180px; height:50px; float:left;}
.TN_goods ul.TN_index_goodsUL li.TN_one dd .TN_LEFT p.TN_cakename{ width:175px; height:24px; float:left; font-size:12px; line-height:25px; text-align:left; }
.TN_goods ul.TN_index_goodsUL li.TN_one dd .TN_LEFT p.TN_cakeABC{ width:175px; height:26px; float:left; font-size:12px; line-height:12px;text-align:left; }
.TN_goods ul.TN_index_goodsUL li.TN_one dd .TN_RIGHT{ width:120px; height:50px; float:left;}
.TN_goods ul.TN_index_goodsUL li.TN_one dd .TN_RIGHT p{ width:120px; height:25px; float:left; font-size:12px; line-height:25px;text-align:left;}
.TN_goods ul.TN_index_goodsUL li.TN_one dd .TN_RIGHT p > span { margin-top: -6px; display: inline-block; }
.TN_goods ul.TN_index_goodsUL li.TN_one dd .TN_RIGHT p > span > img { margin-top: 2px; }
.TN_goods ul.TN_index_goodsUL li.TN_one dt{ width:300px; height:50px; float:left; padding:0 10px; font-family:"微软雅黑"}
/*****样式修改*2014-5-8********
.TN_goods ul.TN_index_goodsUL li.TN_one dt p{ width:300px; height:50px; float:left; font-size:15px; line-height:23px; text-align:left;}
***/
.TN_goods ul.TN_index_goodsUL li.TN_one dt span{ width:42px; height:25px; float:left; margin-right:8px; margin-top:10px;}
/*******原材料样式修改小标签***************/

/*************************磅改克0308***************************/
.clear_both {
    display: block;
    clear: both;
}

.ani_bottom {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    z-index: 10;
    background: #fbfbfb;
    font-size: 13px;
    box-shadow: 0 -10px 10px rgba(0, 0, 0, .2);
    color: #958d8d;
}

.ani_bottom h4 {
    padding-left: 20px;
    height: 40px;
    line-height: 40px;
}

.ani_bottom .p_num_wrap {
    padding-left: 20px;
}

.ani_bottom .p_num_wrap a {
    float: left;
    width: 128px;
    height: 36px;
    line-height: 36px;
    text-align: center;
    margin-right: 20px;
    margin-bottom: 8px;
    border: 1px solid #dbddc8;
}

.ani_bottom .p_num_wrap a.active {
    width: 126px;
    height: 34px;
    line-height: 34px;
    border: 2px solid #ff4001;
}

.ani_bottom h5 {
    margin-top: 7px;
    height: 50px;
    line-height: 50px;
    border-top: 1px solid #dbddc8;
    font-size: 14px;
    font-weight: normal;
}

.ani_bottom h5 strong {
    font-weight: normal;
    color: #ff4001;
    float: left;
    width: 50%;
    text-indent: 16px;
}

.ani_bottom h5 a {
    color: #fff;
    float: right;
    width: 50%;
    background: #ff4001;
    text-align: center;
}

.ani_bottom h5 a.disabled {
    background: #ccc;
}

.ani_bottom .ani_price {
    font-size: 16px;
}


/**********************************样式2014/4/16节点
**********************************************
************************************************************
